@model MemoryBoost.Models.Game

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-between">
    <div>
        <div>
            <a class="text-white px-xl-5 px-lg-5 px-md-4" style="font-size: 20px;">time:</a>
        </div>
    </div>
    <div class="my-2 mr-5">
        <a class="text-white px-xl-5 px-lg-5 px-md-4" style="font-size: 20px;">level: @Model.Level.Name</a>
        <input type="hidden" class="numberOfCards" asp-for="@Model.Level.CardsNumber" />
        <input type="hidden" class="gameId" asp-for="@Model.Id" />
    </div>

</div>

<div class="row justify-content-between">
    <div>
        <div>
            <a class="text-white px-xl-5 px-lg-5 px-md-4 score" style="font-size: 20px;">points: @Model.Score</a>
        </div>
    </div>
    <div class="row my-2">
        <div class="mr-2">
            <a type="button" class="btn btn-lg btn-block btn-outline px-xl-5 px-lg-5 px-md-4" style="background-color: #59F9CC; color: #806CDD; border-radius: 35px;">pause</a>
        </div>
        <div class="mr-5">
            <a type="button" class="btn btn-lg btn-block btn-outline text-white px-xl-5 px-lg-5 px-md-4" 
               asp-area="" asp-controller="Games" asp-action="SaveResults" asp-route-id ="@Model.Id"
               style="border-color: white; border-radius: 35px;">stop</a>
        </div>
    </div>
</div>

<div class="row">
    <div style="background-color: rgba(255,255,255,0.5); color: #806CDD; border-radius: 35px;"
         class="container h-100 d-flex flex-column align-self-center justify-content-center">
        <div class="cardWrapper">
            @for (int i = 0; i < Model.Cards.Count / (Model.Cards.Count / 2); i++)
            {
                <div class="row">
                    @foreach (var item in Model.Cards)
                    {
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 my-5 cardContainer" >
                            <div class="card">
                                <input type="hidden" class="itemCheck" asp-for="@item.Check" />
                                <div class="front"><h3 class="cardTitle">Flip me!</h3></div>
                                <div class="back">
                                    <div class="content">
                                        <h3 class="cardTitle">CSS3</h3>
                                        <br />
                                        <p id="happy"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>